
body {
  margin: 0;
  padding: 0%;
  font-family: 'Abel', sans-serif;
}

.container{
  min-width: 100%;
  max-width: 100%;
  display: flex;
}

.logo{
  font-size: 32px;
  font-weight: bold;
}

.side-header p{
  margin-top: 20% !important;
  font-size: 24px;
  color: orangered;
}

.tools-header{
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: -2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tools-tags{
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 5%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: orangered;
}

.side-module{
  border-right: 1px solid #ccc;
}


.logo, .side-header{
  margin: 25px;
}

.tools{
  margin: 15px;
  line-height: 0.1;
}

.tools a{
  line-height: 1.5;
}

.arrow-right{
  margin-right: 10px;
  font-size: 16px;
}

.settings{
  margin-top: 70%;
  font-size: 22px;
  margin-left: 15px;
}

.searchbar{
  padding: 5px 0px 5px 25px;
  width: 30rem;
  height: 15px;
  margin-top: 1%;
}

.Header{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-icon{
  padding-left: 5px;
  display: block;
  position: absolute;
  margin-top: 15px;
}

.w-user{
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.w-user p{
  margin-right: 10px;
}

.header-filter-bar{
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
}

.header-filter-bar p{
  margin-right: 25px;
}

.verticle-content{
  margin-top: 2%;
  width: 80%;
  margin-left: 2%;
}

.item{
  width: 15rem;
  
}

.items-image{
  width: 15rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -15%;
}

.item-title{
  font-size: 26px;
}

.items-details{
 width: 100%;
 
}

.details-top{
  padding-top: 15%;
  line-height: 0.3;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
}

.item-type{
  color: orangered;

}
.details-bottom{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -2rem;
  line-height: 0.1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-bottom: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-price{
  font-size: 26px;
  margin-left: 2rem;
}

.import-button{
  background-color: white;
  border: 1px solid #808080;
  color: #808080;
  padding: 10px 40px;
  border-radius: 5px;
}

.import-button:hover{
  color: black;
  cursor: pointer;
}

.products{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 20px;
}

.horizontal-content{
  width: 20%;
}

/* Collapse */

.collapsible{
  color: #444;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapse-content {
  overflow: hidden;
  background-color: white;
}

.collapse-header{
display: flex;
flex-direction: column;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dd-arrow{margin-left: 1px;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{color: orangered;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: orangered;}

.second-bar{
  display: flex;
  max-width: 90%;
}
.second-bar p{
  margin-right: 2%;
  margin-left: 5%;
}
.space{
  margin-right: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}


input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.item-report{
  margin-bottom: 10px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-buttons button{
  background-color: #ddd;
  border: none;
  margin-bottom: 1px;
  padding: 5px 10px 5px 10px;
}

.item-report p{
  width: 60px;
}

.item-report img{
  width: 100px;
}

.action-buttons{
  display: flex;
  flex-direction: column;
}

/* settings page */

.form-content{
  text-transform: capitalize;
  display: flex;
  color: #808080;
  justify-content: space-between;
  max-width: 60%;
}
.form-content input{
  text-transform: capitalize;
  width: 25rem;
  padding: 10px 0 10px 10px;
  color: #808080;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.form-input{
  line-height: 2.5;
  display: flex;
  flex-direction: column;
}

input:focus{
 outline: none;
}

.account-info{
  margin: 10% 0;
  line-height: 0.1;
}

.dd-category{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.autosync{
  display: flex;
  align-items: center;
}
.autosync p{
  margin-right: 50px;
}

.form-one,
.form-two{
  max-width: 25%;
}

.bottom-terms{
  width: 25rem;
  line-height: 1;
}

.button-save{
  color: rgb(255, 25, 25);
  background-color: rgb(255, 200, 200);
  border: none;
  padding: 7px 15px ;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 22rem;
}

.active{
  color: orangered;
}

.settings-header{
  text-transform: uppercase;
}


.settings a{
  margin-top: 25%;
}


.settings-active{
  color: orangered;
  border-bottom: 2px solid orangered;
}

/* payments page */

.form{
  color: #808080;
}

.form button{
  color: #808080;
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  text-transform: capitalize;
  margin-right: 1px;
}

.form button:hover{
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
}

.download-links{
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-transform: capitalize;
}

.download-links a{
  color: orangered;
}